.child-current {
    display: inline-flex;
    flex-direction: column;

}

.current-rest{
    display: inline-flex;
    flex-direction: column;
}

div {
    display: inline-flex;
    flex-direction: row;
}
