#home-paper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-box {
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(132, 231, 206, 0.87);
  border-radius: 2em;
}

#home-box h1 {
  color: rgb(218, 218, 218);
}

@media only screen and (max-width: 600px) {
  #home-box {
    width: 70%;
    height: 45%;
  }
}
