#rest-list-wrapper{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
}

#rest-wrapper{
    height: 25em;
    width: 39em;
    /* background: pink; */
    display: flex;

}