#restaurant {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

#rest-img {
  height: 250px;
  width: 300px;
}

#rest-name {
  color: rgba(8, 87, 139, 0.87);
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

#rest-address {
  color: rgba(8, 87, 139, 0.87);
  margin: 0;
  padding-left: 2em;
}

#rest-PR {
  margin: 0;
  color: rgba(8, 87, 139, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rest-price {
  margin: 0;
  color: rgba(8, 87, 139, 0.87);
  display: flex;
  height: auto;
  width: 10em;
}

#rest-rating {
  margin: 0;
}
