/* .restuarant-list {
    display: inline-flex;
    flex-direction: column;
} */

/* .actual-list {
    display: inline-flex;
    flex-direction: column;
}

.rest-item{
    display: inline-flex;
    flex-direction: column;
} */